<abp-page [title]="title | abpLocalization">
  <abp-page-toolbar-container class="col">
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <div class="text-lg-end pt-2">
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->

      <button
        *abpPermission="'FaceAPI.Salaries.Create'"
        class="btn btn-primary btn-sm"
        type="button"
        (click)="create()"
      >
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewSalary' | abpLocalization }}
      </button>
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    <abp-advanced-entity-filters-form *ngIf="service.filters as filters">
      <form #filterForm (keyup.enter)="list.get()">
        <!--<suite-custom-code-block-3>-->
        <!--</suite-custom-code-block-3>-->
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="codeFilter">
                {{ '::Code' | abpLocalization }}
              </label>

              <input
                id="codeFilter"
                class="form-control"
                [(ngModel)]="filters.code"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minAllowance">
                {{ '::MinAllowance' | abpLocalization }}
              </label>

              <input
                id="minAllowance"
                type="number"
                class="form-control"
                [(ngModel)]="filters.allowanceMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxAllowance">
                {{ '::MaxAllowance' | abpLocalization }}
              </label>

              <input
                id="maxAllowance"
                type="number"
                class="form-control"
                [(ngModel)]="filters.allowanceMax"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minBasic">
                {{ '::MinBasic' | abpLocalization }}
              </label>

              <input
                id="minBasic"
                type="number"
                class="form-control"
                [(ngModel)]="filters.basicMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxBasic">
                {{ '::MaxBasic' | abpLocalization }}
              </label>

              <input
                id="maxBasic"
                type="number"
                class="form-control"
                [(ngModel)]="filters.basicMax"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minBonus">
                {{ '::MinBonus' | abpLocalization }}
              </label>

              <input
                id="minBonus"
                type="number"
                class="form-control"
                [(ngModel)]="filters.bonusMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxBonus">
                {{ '::MaxBonus' | abpLocalization }}
              </label>

              <input
                id="maxBonus"
                type="number"
                class="form-control"
                [(ngModel)]="filters.bonusMax"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minTotal">
                {{ '::MinTotal' | abpLocalization }}
              </label>

              <input
                id="minTotal"
                type="number"
                class="form-control"
                [(ngModel)]="filters.totalMin"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxTotal">
                {{ '::MaxTotal' | abpLocalization }}
              </label>

              <input
                id="maxTotal"
                type="number"
                class="form-control"
                [(ngModel)]="filters.totalMax"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="departmentIdFilter">
                {{ '::Department' | abpLocalization }}
              </label>
              <abp-lookup-select
                cid="departmentIdFilter"
                [getFn]="serviceDetail.getDepartmentLookup"
                [(ngModel)]="filters.departmentId"
                [ngModelOptions]="{ standalone: true }"
              ></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="titleIdFilter">
                {{ '::Title' | abpLocalization }}
              </label>
              <abp-lookup-select
                cid="titleIdFilter"
                [getFn]="serviceDetail.getTitleLookup"
                [(ngModel)]="filters.titleId"
                [ngModelOptions]="{ standalone: true }"
              ></abp-lookup-select>
            </div>
          </div>

          <div class="col-12 col-sm-auto align-self-end mb-3">
            <div class="row">
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                  <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                </button>
              </div>
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-primary" (click)="list.get()">
                  <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--<suite-custom-code-block-4>-->
        <!--</suite-custom-code-block-4>-->
      </form>
    </abp-advanced-entity-filters-form>
  </abp-advanced-entity-filters>
  <!--<suite-custom-code-block-5>-->
  <!--</suite-custom-code-block-5>-->
  <div class="card">
    <!--<suite-custom-code-block-6>-->
    <!--</suite-custom-code-block-6>-->
    <div class="card-body">
      <!--<suite-custom-code-block-7>-->
      <!--</suite-custom-code-block-7>-->
      <ngx-datatable [rows]="service.data.items"
                     [count]="service.data.totalCount"
                     [list]="list"
                     default>
        <!--<suite-custom-code-block-8>-->
        <!--</suite-custom-code-block-8>-->
        <ngx-datatable-column [name]="'AbpUi::Actions' | abpLocalization"
                              [maxWidth]="150"
                              [width]="150"
                              [sortable]="false">
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button class="btn btn-primary btn-sm dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      ngbDropdownToggle>
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button ngbDropdownItem
                        *abpPermission="'FaceAPI.Salaries.Edit'"
                        (click)="update(row)">
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button ngbDropdownItem
                        *abpPermission="'FaceAPI.Salaries.Delete'"
                        (click)="delete(row)">
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Code' | abpLocalization }}" prop="salary.code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a (click)="getSalaryData(row.salary.id)" style="color: greenyellow">{{ row.salary.code }}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Department' | abpLocalization }}" prop="department.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.department?.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::Title' | abpLocalization }}" prop="title.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.title?.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Total' | abpLocalization }}" prop="salary.total">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.salary.total | number:'1.0-0' }}
          </ng-template>
        </ngx-datatable-column>


        <!--<suite-custom-code-block-9>-->
        <!--</suite-custom-code-block-9>-->
      </ngx-datatable>
      <!--<suite-custom-code-block-10>-->
      <!--</suite-custom-code-block-10>-->
    </div>
  </div>
  <!--<suite-custom-code-block-11>-->
  <!--</suite-custom-code-block-11>-->
</abp-page>
<!--<suite-custom-code-block-12>-->
<!--</suite-custom-code-block-12>-->
<app-salary-detail> </app-salary-detail>
<abp-modal [options]="{ size: 'xl' }" [(visible)]="service.isOpenDetail">
  <ng-template #abpHeader>
    <div style="display: flex; width: 100%; justify-content: space-between; align-items: center">
      <div>Code: {{service.dataDto?.code}}</div>
      <div>Total: {{service.dataDto?.total | number:'1.0-0'}}</div>
    </div>
  </ng-template>
  <ng-template #abpBody>
    <div style="display: flex; color: white; justify-content:center; align-content:center">
      <div style="display: block; margin-left: 30px">
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Code' | abpLocalization }}
          </label>

          <input value="{{service.dataDto?.code}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Allowance' | abpLocalization }}
          </label>

          <input value="{{service.dataDto?.allowance | number:'1.0-0'}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Basic' | abpLocalization }}
          </label>

          <input value="{{service.dataDto?.basic | number:'1.0-0'}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Bonus' | abpLocalization }}
          </label>

          <input value="{{service.dataDto?.bonus | number:'1.0-0'}}" class="form-control" autofocus disabled />
        </div>
      </div>
      <div style="display: block; margin-left:30px">
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width: 200px">
            {{ '::Department' | abpLocalization }}
          </label>

          <input value="{{service.dataDetailDepartment?.name}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Title' | abpLocalization }}
          </label>
          <input value="{{service.dataDetailTitle?.name}}" class="form-control" autofocus disabled />
        </div>
       
      </div>
    </div>
  </ng-template>
</abp-modal>
