<abp-modal [busy]="service.isBusy" [(visible)]="service.isVisible">
  <ng-template #abpHeader>
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <h3>
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->
      {{ (service.selected ? 'AbpUi::Edit' : '::NewDepartment') | abpLocalization }}
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </h3>
    <!--<suite-custom-code-block-3>-->
    <!--</suite-custom-code-block-3>-->
  </ng-template>

  <ng-template #abpBody>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <form
      [formGroup]="service.form"
      id="department"
      (ngSubmit)="service.submitForm()"
      validateOnSubmit
    >
      <!--<suite-custom-code-block-5>-->
      <!--</suite-custom-code-block-5>-->

      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>
            {{ 'Department' | abpLocalization }}
          </a>
          <ng-template ngbNavContent>
            <div class="mt-2 fade-in-top">
              <div class="mb-3">
                <label class="form-label" for="department-code">
                  {{ '::Code' | abpLocalization }}
                </label>

                <input id="department-code" formControlName="code" class="form-control" autofocus />
              </div>
              <div class="mb-3">
                <label class="form-label" for="department-name">
                  {{ '::Name' | abpLocalization }}
                </label>

                <input id="department-name" formControlName="name" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label" for="department-date">
                  {{ '::Date' | abpLocalization }}
                </label>

                <div class="input-group" validationTarget>
                  <input
                    readonly
                    id="department-date"
                    formControlName="date"
                    class="form-control"
                    ngbDatepicker
                    #dateInput
                    #dateDatepicker="ngbDatepicker"
                    (click)="dateDatepicker.open()"
                    (keyup.space)="dateDatepicker.open()"
                  />
                  <div *ngIf="dateInput.value" class="input-group-append">
                    <button
                      class="btn btn-link px-2"
                      type="button"
                      [title]="'AbpUi::Clear' | abpLocalization"
                      (click)="
                        dateDatepicker.writeValue(null); dateDatepicker.manualDateChange(null, true)
                      "
                    >
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="department-note">
                  {{ '::Note' | abpLocalization }}
                </label>

                <textarea id="department-note" formControlName="note" class="form-control">
                </textarea>
              </div>
            </div>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink>
            {{ 'Titles' | abpLocalization }}
            <span *ngIf="this.service.form.controls['titleIds']">
              ({{ this.service.form.controls['titleIds'].value?.length }})
            </span>
          </a>
          <ng-template ngbNavContent>
            <abp-lookup-typeahead-mtm
              cid="department-titles"
              formControlName="titleIds"
              displayNameProp="name"
              lookupNameProp="displayName"
              [getFn]="service.getTitleLookup"
              [editingData]="service.selected?.titles"
            ></abp-lookup-typeahead-mtm>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <!--<suite-custom-code-block-6>-->
      <!--</suite-custom-code-block-6>-->
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <!--<suite-custom-code-block-7>-->
    <!--</suite-custom-code-block-7>-->
    <button type="button" class="btn btn-secondary" abpClose>
      {{ 'AbpUi::Cancel' | abpLocalization }}
    </button>
    <!--<suite-custom-code-block-8>-->
    <!--</suite-custom-code-block-8>-->
    <abp-button iconClass="fa fa-check" buttonType="submit" formName="department">
      {{ 'AbpUi::Save' | abpLocalization }}
    </abp-button>
    <!--<suite-custom-code-block-9>-->
    <!--</suite-custom-code-block-9>-->
  </ng-template>
</abp-modal>
