<abp-page [title]="title | abpLocalization" *abpPermission="'FaceAPI.Timesheets.Get'">
  <abp-page-toolbar-container class="col">
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <div class="text-lg-end pt-2">
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->

      <button class="btn btn-primary btn-sm mx-2"
              type="button"
              [disabled]="service.isExportToExcelBusy"
              (click)="exportToExcel()">
        {{ '::ExportToExcel' | abpLocalization }}
      </button>
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    <abp-advanced-entity-filters-form *ngIf="service.filters as filters">
      <form #filterForm (keyup.enter)="list.get()">
        <!--<suite-custom-code-block-3>-->
        <!--</suite-custom-code-block-3>-->
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="imageFilter">
                {{ '::Image' | abpLocalization }}
              </label>

              <input id="imageFilter"
                     class="form-control"
                     [(ngModel)]="filters.image"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="codeFilter">
                {{ '::Code' | abpLocalization }}
              </label>

              <input id="codeFilter"
                     class="form-control"
                     [(ngModel)]="filters.code"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minTime">
                {{ '::MinTime' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="minTime"
                       class="form-control"
                       #minTimeInput
                       #minTimeDatepicker="ngbDatepicker"
                       name="minTime"
                       ngbDatepicker
                       container="body"
                       readonly
                       (click)="minTimeDatepicker.toggle()"
                       (keyup.space)="minTimeDatepicker.toggle()"
                       [(ngModel)]="filters.timeMin"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="minTimeInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      minTimeDatepicker.writeValue(null);
                      minTimeDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxTime">
                {{ '::MaxTime' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="maxTime"
                       class="form-control"
                       #maxTimeInput
                       #maxTimeDatepicker="ngbDatepicker"
                       name="maxTime"
                       ngbDatepicker
                       readonly
                       (click)="maxTimeDatepicker.toggle()"
                       (keyup.space)="maxTimeDatepicker.toggle()"
                       [(ngModel)]="filters.timeMax"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="maxTimeInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      maxTimeDatepicker.writeValue(null);
                      maxTimeDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="noteFilter">
                {{ '::Note' | abpLocalization }}
              </label>

              <input id="noteFilter"
                     class="form-control"
                     [(ngModel)]="filters.note"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="scheduleIdFilter">
                {{ '::Schedule' | abpLocalization }}
              </label>
              <abp-lookup-select cid="scheduleIdFilter"
                                 [getFn]="serviceDetail.getScheduleLookup"
                                 [(ngModel)]="filters.scheduleId"
                                 [ngModelOptions]="{ standalone: true }"></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="scheduleDetailIdFilter">
                {{ '::ScheduleDetail' | abpLocalization }}
              </label>
              <abp-lookup-select cid="scheduleDetailIdFilter"
                                 [getFn]="serviceDetail.getScheduleDetailLookup"
                                 [(ngModel)]="filters.scheduleDetailId"
                                 [ngModelOptions]="{ standalone: true }"></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="scheduleFormatIdFilter">
                {{ '::ScheduleFormat' | abpLocalization }}
              </label>
              <abp-lookup-select cid="scheduleFormatIdFilter"
                                 [getFn]="serviceDetail.getScheduleFormatLookup"
                                 [(ngModel)]="filters.scheduleFormatId"
                                 [ngModelOptions]="{ standalone: true }"></abp-lookup-select>
            </div>
          </div>

          <div class="col-12 col-sm-auto align-self-end mb-3">
            <div class="row">
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                  <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                </button>
              </div>
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-primary" (click)="list.get()">
                  <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--<suite-custom-code-block-4>-->
        <!--</suite-custom-code-block-4>-->
      </form>
    </abp-advanced-entity-filters-form>
  </abp-advanced-entity-filters>
  <!--<suite-custom-code-block-5>-->
  <!--</suite-custom-code-block-5>-->
  <div class="card">
    <!--<suite-custom-code-block-6>-->
    <!--</suite-custom-code-block-6>-->
    <div class="card-body">
      <!--<suite-custom-code-block-7>-->
      <!--</suite-custom-code-block-7>-->
      <ngx-datatable [rows]="service.data.items"
                     [count]="service.data.totalCount"
                     [list]="list"
                     default>
        <!--<suite-custom-code-block-8>-->
        <!--</suite-custom-code-block-8>-->
        <ngx-datatable-column [name]="'AbpUi::Actions' | abpLocalization"
                              [maxWidth]="150"
                              [width]="150"
                              [sortable]="false">
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button class="btn btn-primary btn-sm dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      ngbDropdownToggle>
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button ngbDropdownItem
                        *abpPermission="'FaceAPI.Timesheets.Edit'"
                        (click)="update(row)">
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button ngbDropdownItem
                        *abpPermission="'FaceAPI.Timesheets.Delete'"
                        (click)="delete(row)">
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Code' | abpLocalization }}" prop="timesheet.code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a (click)="service.getData(row.timesheet.id)" style="color: yellowgreen">{{ row.timesheet.code }}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Time' | abpLocalization }}" prop="timesheet.time">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.timesheet.time | date: 'short' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Note' | abpLocalization }}" prop="timesheet.note">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.timesheet.note }}
          </ng-template>
        </ngx-datatable-column>
        <!--<suite-custom-code-block-9>-->
        <!--</suite-custom-code-block-9>-->
      </ngx-datatable>
      <!--<suite-custom-code-block-10>-->
      <!--</suite-custom-code-block-10>-->
    </div>
  </div>
  <!--<suite-custom-code-block-11>-->
  <!--</suite-custom-code-block-11>-->
</abp-page>
<!--<suite-custom-code-block-12>-->
<!--</suite-custom-code-block-12>-->
<app-timesheet-detail> </app-timesheet-detail>
<div class="card" *abpPermission="'FaceAPI.Timesheets.GetId'">
  <div class="card-body">
    <div class="row" style="justify-content:center">
      <div class="col-12 col-sm-4">
        <div class="mb-3">
          <label class="form-label" for="scheduleSelect">
            {{ '::Schedule' | abpLocalization }}
          </label>
          <select class="form-control" id="scheduleSelect" [(ngModel)]="service.dataSchedule" (ngModelChange)="service.getScheduleData()">
            <option *ngFor="let dto of service.dataScheduleDto || []" [ngValue]="dto.schedule.id">{{dto.schedule.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="mb-3">
          <label class="form-label" for="">
            {{ '::ScheduleDetail' | abpLocalization }}
          </label>
          <select class="form-control" [(ngModel)]="service.dataScheduleDetail" (ngModelChange)="service.getScheduleDetailData()">
            <option *ngFor="let dto of service.dataScheduleDetailDto || []" [ngValue]="dto.id">{{dto.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="mb-3">
          <label class="form-label">
            {{ '::ScheduleFormat' | abpLocalization }}
          </label>
          <select class="form-control" [(ngModel)]="service.dataScheduleFormat" (ngModelChange)="service.getScheduleFormatData()">
            <option *ngFor="let dto of service.dataScheduleFormatDto || []" [ngValue]="dto.id">{{dto.date | date}}</option>
          </select>
        </div>
      </div>

    </div>
    <!--<suite-custom-code-block-4>-->
    <!--</suite-custom-code-block-4>-->
    <div *ngIf="service.dataScheduleFormat != null && service.dataScheduleDetail != null && service.dataSchedule != null">
      <app-camera (pictureTaken)="handleImage($event)"></app-camera>
    </div>

  </div>

</div>


<abp-modal [options]="{ size: 'xl' }" [(visible)]="service.isOpenDetail">
  <ng-template #abpHeader>
    <div style="display: flex; width: 100%; justify-content: space-between; align-items: center">
      <div>Code: {{service.dataDto?.timesheet.code}}</div>
      <div>Schedule Name: {{service.dataDto?.schedule.name}}</div>
      <div>Schedule Detail: {{service.dataDto?.scheduleDetail.name}}</div>
      <div>Date: {{ service.dataDto?.scheduleFormat.date | date }}</div>
    </div>
  </ng-template>
  <ng-template #abpBody>
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <div class="card-body" style="display: flex">
        <div style="display: block">
          <div class="mb-3" style="display:flex; justify-content:center">
            <img [src]="service.dataDto?.timesheet.image" class="form-control" style="width: 300px; height: 300px;" />
          </div>
        </div>
        <div style="display: block">
          <div class="mb-3" style="display:flex; justify-content:center">
            <img [src]="'assets/' + service.dataStaffDto?.image" class="form-control" style="width: 300px; height: 300px;" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</abp-modal>

