<abp-page [title]="title | abpLocalization" *abpPermission="'FaceAPI.Staffs.Get'">
  <abp-page-toolbar-container class="col">
    <!--<suite-custom-code-block-0>-->
    <!--</suite-custom-code-block-0>-->
    <div class="text-lg-end pt-2">
      <!--<suite-custom-code-block-1>-->
      <!--</suite-custom-code-block-1>-->

      <button class="btn btn-primary btn-sm mx-2"
              type="button"
              [disabled]="service.isExportToExcelBusy"
              (click)="exportToExcel()">
        {{ '::ExportToExcel' | abpLocalization }}
      </button>

      <button *abpPermission="'FaceAPI.Staffs.Create'"
              class="btn btn-primary btn-sm"
              type="button"
              (click)="create()">
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewStaff' | abpLocalization }}
      </button>
      <!--<suite-custom-code-block-2>-->
      <!--</suite-custom-code-block-2>-->
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    <abp-advanced-entity-filters-form *ngIf="service.filters as filters">
      <form #filterForm (keyup.enter)="list.get()">
        <!--<suite-custom-code-block-3>-->
        <!--</suite-custom-code-block-3>-->
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="imageFilter">
                {{ '::Image' | abpLocalization }}
              </label>

              <input id="imageFilter"
                     class="form-control"
                     [(ngModel)]="filters.image"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="codeFilter">
                {{ '::Code' | abpLocalization }}
              </label>

              <input id="codeFilter"
                     class="form-control"
                     [(ngModel)]="filters.code"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="nameFilter">
                {{ '::Name' | abpLocalization }}
              </label>

              <input id="nameFilter"
                     class="form-control"
                     [(ngModel)]="filters.name"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="sexFilter">
                {{ '::Sex' | abpLocalization }}
              </label>

              <input id="sexFilter"
                     class="form-control"
                     [(ngModel)]="filters.sex"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minBirthday">
                {{ '::MinBirthday' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="minBirthday"
                       class="form-control"
                       #minBirthdayInput
                       #minBirthdayDatepicker="ngbDatepicker"
                       name="minBirthday"
                       ngbDatepicker
                       container="body"
                       readonly
                       (click)="minBirthdayDatepicker.toggle()"
                       (keyup.space)="minBirthdayDatepicker.toggle()"
                       [(ngModel)]="filters.birthdayMin"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="minBirthdayInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      minBirthdayDatepicker.writeValue(null);
                      minBirthdayDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxBirthday">
                {{ '::MaxBirthday' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="maxBirthday"
                       class="form-control"
                       #maxBirthdayInput
                       #maxBirthdayDatepicker="ngbDatepicker"
                       name="maxBirthday"
                       ngbDatepicker
                       readonly
                       (click)="maxBirthdayDatepicker.toggle()"
                       (keyup.space)="maxBirthdayDatepicker.toggle()"
                       [(ngModel)]="filters.birthdayMax"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="maxBirthdayInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      maxBirthdayDatepicker.writeValue(null);
                      maxBirthdayDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minStartWork">
                {{ '::MinStartWork' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="minStartWork"
                       class="form-control"
                       #minStartWorkInput
                       #minStartWorkDatepicker="ngbDatepicker"
                       name="minStartWork"
                       ngbDatepicker
                       container="body"
                       readonly
                       (click)="minStartWorkDatepicker.toggle()"
                       (keyup.space)="minStartWorkDatepicker.toggle()"
                       [(ngModel)]="filters.startWorkMin"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="minStartWorkInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      minStartWorkDatepicker.writeValue(null);
                      minStartWorkDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxStartWork">
                {{ '::MaxStartWork' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="maxStartWork"
                       class="form-control"
                       #maxStartWorkInput
                       #maxStartWorkDatepicker="ngbDatepicker"
                       name="maxStartWork"
                       ngbDatepicker
                       readonly
                       (click)="maxStartWorkDatepicker.toggle()"
                       (keyup.space)="maxStartWorkDatepicker.toggle()"
                       [(ngModel)]="filters.startWorkMax"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="maxStartWorkInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      maxStartWorkDatepicker.writeValue(null);
                      maxStartWorkDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="phoneFilter">
                {{ '::Phone' | abpLocalization }}
              </label>

              <input id="phoneFilter"
                     class="form-control"
                     [(ngModel)]="filters.phone"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="emailFilter">
                {{ '::Email' | abpLocalization }}
              </label>

              <input id="emailFilter"
                     class="form-control"
                     [(ngModel)]="filters.email"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="addressFilter">
                {{ '::Address' | abpLocalization }}
              </label>

              <input id="addressFilter"
                     class="form-control"
                     [(ngModel)]="filters.address"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minDebt">
                {{ '::MinDebt' | abpLocalization }}
              </label>

              <input id="minDebt"
                     type="number"
                     class="form-control"
                     [(ngModel)]="filters.debtMin"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxDebt">
                {{ '::MaxDebt' | abpLocalization }}
              </label>

              <input id="maxDebt"
                     type="number"
                     class="form-control"
                     [(ngModel)]="filters.debtMax"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="noteFilter">
                {{ '::Note' | abpLocalization }}
              </label>

              <input id="noteFilter"
                     class="form-control"
                     [(ngModel)]="filters.note"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="departmentIdFilter">
                {{ '::Department' | abpLocalization }}
              </label>
              <abp-lookup-select cid="departmentIdFilter"
                                 [getFn]="serviceDetail.getDepartmentLookup"
                                 [(ngModel)]="filters.departmentId"
                                 [ngModelOptions]="{ standalone: true }"></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="titleIdFilter">
                {{ '::Title' | abpLocalization }}
              </label>
              <abp-lookup-select cid="titleIdFilter"
                                 [getFn]="serviceDetail.getTitleLookup"
                                 [(ngModel)]="filters.titleId"
                                 [ngModelOptions]="{ standalone: true }"></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="timesheetsFilter">
                {{ '::Timesheet' | abpLocalization }}
              </label>
              <abp-lookup-typeahead cid="timesheetsFilter"
                                    displayNameProp="code"
                                    [getFn]="serviceDetail.getTimesheetLookup"
                                    [(ngModel)]="filters.timesheetId"
                                    [ngModelOptions]="{ standalone: true }"></abp-lookup-typeahead>
            </div>
          </div>

          <div class="col-12 col-sm-auto align-self-end mb-3">
            <div class="row">
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                  <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                </button>
              </div>
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-primary" (click)="list.get()">
                  <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--<suite-custom-code-block-4>-->
        <!--</suite-custom-code-block-4>-->
      </form>
    </abp-advanced-entity-filters-form>
  </abp-advanced-entity-filters>
  <!--<suite-custom-code-block-5>-->
  <!--</suite-custom-code-block-5>-->
  <div class="card">
    <!--<suite-custom-code-block-6>-->
    <!--</suite-custom-code-block-6>-->
    
    <div class="card-body">
      <!--<suite-custom-code-block-7>-->
      <!--</suite-custom-code-block-7>-->
      <ngx-datatable [rows]="service.data.items"
                     [count]="service.data.totalCount"
                     [list]="list"
                     default>
        <!--<suite-custom-code-block-8>-->
        <!--</suite-custom-code-block-8>-->
        <ngx-datatable-column [name]="'AbpUi::Actions' | abpLocalization"
                              [maxWidth]="150"
                              [width]="150"
                              [sortable]="false">
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button class="btn btn-primary btn-sm dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      ngbDropdownToggle>
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button ngbDropdownItem
                        *abpPermission="'FaceAPI.Staffs.Edit'"
                        (click)="update(row)">
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button ngbDropdownItem
                        *abpPermission="'FaceAPI.Staffs.Delete'"
                        (click)="delete(row)">
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::Code' | abpLocalization }}" prop="staff.code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a (click)="getData(row.staff.id)" style="color: yellowgreen">{{ row.staff.code }}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Name' | abpLocalization }}" prop="staff.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.staff.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Sex' | abpLocalization }}" prop="staff.sex">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.staff.sex }}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="{{ '::Debt' | abpLocalization }}" prop="staff.debt">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.staff.debt | number:'1.0-0'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Note' | abpLocalization }}" prop="staff.note">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.staff.note }}
          </ng-template>
        </ngx-datatable-column>
        <!--<suite-custom-code-block-9>-->
        <!--</suite-custom-code-block-9>-->
      </ngx-datatable>
      <!--<suite-custom-code-block-10>-->
      <!--</suite-custom-code-block-10>-->
    </div>
  </div>
  <!--<suite-custom-code-block-11>-->
  <!--</suite-custom-code-block-11>-->
</abp-page>
<!--<suite-custom-code-block-12>-->
<!--</suite-custom-code-block-12>-->
<app-staff-detail> </app-staff-detail>
<abp-modal [options]="{ size: 'xl' }" [(visible)]="serviceDetail.isOpenDetail">
  <ng-template #abpHeader>
    <div style="display: flex; width: 100%; justify-content: space-between; align-items: center">
      <div>Code: {{serviceDetail.dataDto?.staff.code}}</div>
      <div>Name: {{serviceDetail.dataDto?.staff.name}}</div>
      <div>Debt: {{serviceDetail.dataDto?.staff.debt | number:'1.0-0'}}</div>
    </div>
  </ng-template>
  <ng-template #abpBody>
    <div style="display: flex; color: white; justify-content:center; align-content:center">
      <div style="display: block">
        <div class="mb-3" style="display:flex; justify-content:center">
          <img [src]="'assets/' + serviceDetail.dataDto?.staff.image" class="form-control" style="width: 250px; height: 300px;" />
        </div>
      </div>
      <div style="display: block; margin-left: 30px">
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Code' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataDto?.staff.code}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Name' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataDto?.staff.name}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Birthday' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataDto?.staff.birthday | date}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Sex' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataDto?.staff.sex}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Title' | abpLocalization }}
          </label>
          <input value="{{serviceDetail.dataDto?.title.name}}" class="form-control" autofocus disabled />
        </div>
      </div>
      <div style="display: block; margin-left:30px">
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width: 200px">
            {{ '::Start Work' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataDto?.staff.startWork | date}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Phone' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataDto?.staff.phone}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Email' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataDto?.staff.email}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Address' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataDto?.staff.email}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Department' | abpLocalization }}
          </label>
          <input value="{{serviceDetail.dataDto?.department.name}}" class="form-control" autofocus disabled />
        </div>
      </div>
    </div>
  </ng-template>
</abp-modal>
<div class="card" ng-init="serviceDetail.getUserData" *abpPermission="'FaceAPI.Staffs.GetId'">
  <div class="card-body">

    <div style="display: flex; color: white; justify-content:center; align-content:center">
      <div style="display: block">
        <div class="mb-3" style="display:flex; justify-content:center">
          <img [src]="'assets/' + serviceDetail.dataUserDto?.staff.image" class="form-control" style="width: 250px; height: 300px;" />
        </div>
      </div>
      <div style="display: block; margin-left: 30px">
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Code' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataUserDto?.staff.code}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Name' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataUserDto?.staff.name}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Birthday' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataUserDto?.staff.birthday | date}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Sex' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataUserDto?.staff.sex}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Title' | abpLocalization }}
          </label>
          <input value="{{serviceDetail.dataUserDto?.title.name}}" class="form-control" autofocus disabled />
        </div>
      </div>
      <div style="display: block; margin-left:30px">
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width: 200px">
            {{ '::Start Work' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataUserDto?.staff.startWork | date}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Phone' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataUserDto?.staff.phone}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Email' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataUserDto?.staff.email}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Address' | abpLocalization }}
          </label>

          <input value="{{serviceDetail.dataUserDto?.staff.email}}" class="form-control" autofocus disabled />
        </div>
        <div class="mb-3" style="display:flex; justify-content:center; align-items:center; margin-bottom: 10px">
          <label class="form-label" style="width:200px">
            {{ '::Department' | abpLocalization }}
          </label>
          <input value="{{serviceDetail.dataUserDto?.department.name}}" class="form-control" autofocus disabled />
        </div>
      </div>
    </div>
  </div>
</div>

