<abp-page [title]="title | abpLocalization" *abpPermission="'FaceAPI.Schedules.Get'">
  <abp-page-toolbar-container class="col">
    <div class="text-lg-end pt-2">

      <button class="btn btn-primary btn-sm mx-2"
              type="button"
              [disabled]="service.isExportToExcelBusy"
              (click)="exportToExcel()">
        {{ '::ExportToExcel' | abpLocalization }}
      </button>

      <button *abpPermission="'FaceAPI.Schedules.Create'"
              class="btn btn-primary btn-sm"
              type="button"
              (click)="create()">
        <i class="fa fa-plus me-1" aria-hidden="true"></i>
        {{ '::NewSchedule' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>

  <abp-advanced-entity-filters localizationSourceName="" [list]="list">
    <abp-advanced-entity-filters-form *ngIf="service.filters as filters">
      <form #filterForm (keyup.enter)="list.get()">
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="codeFilter">
                {{ '::Code' | abpLocalization }}
              </label>

              <input id="codeFilter"
                     class="form-control"
                     [(ngModel)]="filters.code"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="nameFilter">
                {{ '::Name' | abpLocalization }}
              </label>

              <input id="nameFilter"
                     class="form-control"
                     [(ngModel)]="filters.name"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minDateFrom">
                {{ '::MinDateFrom' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="minDateFrom"
                       class="form-control"
                       #minDateFromInput
                       #minDateFromDatepicker="ngbDatepicker"
                       name="minDateFrom"
                       ngbDatepicker
                       container="body"
                       readonly
                       (click)="minDateFromDatepicker.toggle()"
                       (keyup.space)="minDateFromDatepicker.toggle()"
                       [(ngModel)]="filters.dateFromMin"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="minDateFromInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      minDateFromDatepicker.writeValue(null);
                      minDateFromDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxDateFrom">
                {{ '::MaxDateFrom' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="maxDateFrom"
                       class="form-control"
                       #maxDateFromInput
                       #maxDateFromDatepicker="ngbDatepicker"
                       name="maxDateFrom"
                       ngbDatepicker
                       readonly
                       (click)="maxDateFromDatepicker.toggle()"
                       (keyup.space)="maxDateFromDatepicker.toggle()"
                       [(ngModel)]="filters.dateFromMax"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="maxDateFromInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      maxDateFromDatepicker.writeValue(null);
                      maxDateFromDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="minDateTo">
                {{ '::MinDateTo' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="minDateTo"
                       class="form-control"
                       #minDateToInput
                       #minDateToDatepicker="ngbDatepicker"
                       name="minDateTo"
                       ngbDatepicker
                       container="body"
                       readonly
                       (click)="minDateToDatepicker.toggle()"
                       (keyup.space)="minDateToDatepicker.toggle()"
                       [(ngModel)]="filters.dateToMin"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="minDateToInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      minDateToDatepicker.writeValue(null);
                      minDateToDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="maxDateTo">
                {{ '::MaxDateTo' | abpLocalization }}
              </label>

              <div class="input-group" validationTarget>
                <input id="maxDateTo"
                       class="form-control"
                       #maxDateToInput
                       #maxDateToDatepicker="ngbDatepicker"
                       name="maxDateTo"
                       ngbDatepicker
                       readonly
                       (click)="maxDateToDatepicker.toggle()"
                       (keyup.space)="maxDateToDatepicker.toggle()"
                       [(ngModel)]="filters.dateToMax"
                       [ngModelOptions]="{ standalone: true }" />
                <div *ngIf="maxDateToInput.value" class="input-group-append">
                  <button class="btn btn-link px-2"
                          type="button"
                          [title]="'AbpUi::Clear' | abpLocalization"
                          (click)="
                      maxDateToDatepicker.writeValue(null);
                      maxDateToDatepicker.manualDateChange(null, true)
                    ">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="noteFilter">
                {{ '::Note' | abpLocalization }}
              </label>

              <input id="noteFilter"
                     class="form-control"
                     [(ngModel)]="filters.note"
                     [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="staffIdFilter">
                {{ '::Staff' | abpLocalization }}
              </label>
              <abp-lookup-select cid="staffIdFilter"
                                 [getFn]="serviceDetail.getStaffLookup"
                                 [(ngModel)]="filters.staffId"
                                 [ngModelOptions]="{ standalone: true }"></abp-lookup-select>
            </div>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="mb-3">
              <label class="form-label" for="scheduleDetailsFilter">
                {{ '::ScheduleDetail' | abpLocalization }}
              </label>
              <abp-lookup-typeahead cid="scheduleDetailsFilter"
                                    displayNameProp="name"
                                    [getFn]="serviceDetail.getScheduleDetailLookup"
                                    [(ngModel)]="filters.scheduleDetailId"
                                    [ngModelOptions]="{ standalone: true }"></abp-lookup-typeahead>
            </div>
          </div>

          <div class="col-12 col-sm-auto align-self-end mb-3">
            <div class="row">
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
                  <span>{{ 'AbpUi::Clear' | abpLocalization }}</span>
                </button>
              </div>
              <div class="col-6 col-sm-auto d-grid">
                <button type="button" class="btn btn-primary" (click)="list.get()">
                  <span>{{ 'AbpUi::Refresh' | abpLocalization }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </abp-advanced-entity-filters-form>
  </abp-advanced-entity-filters>
  <div class="card">
    <div class="card-body">

      <ngx-datatable [rows]="service.data.items"
                     [count]="service.data.totalCount"
                     [list]="list"
                     default>

        <ngx-datatable-column [name]="'AbpUi::Actions' | abpLocalization"
                              [maxWidth]="150"
                              [width]="150"
                              [sortable]="false"
                              *abpPermission="'FaceAPI.Schedules.Edit' && 'FaceAPI.Schedules.Delete'">
          <ng-template let-row="row" let-i="rowIndex" ngx-datatable-cell-template>
            <div ngbDropdown container="body" class="d-inline-block">
              <button class="btn btn-primary btn-sm dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      ngbDropdownToggle>
                <i class="fa fa-cog me-1" aria-hidden="true"></i>
                {{ 'AbpUi::Actions' | abpLocalization }}
              </button>

              <div ngbDropdownMenu>
                <button ngbDropdownItem
                        
                        (click)="update(row)">
                  {{ 'AbpUi::Edit' | abpLocalization }}
                </button>

                <button ngbDropdownItem

                        (click)="delete(row)">
                  {{ 'AbpUi::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Code' | abpLocalization }}" prop="schedule.code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a (click)="getData(row.schedule.id)" style="color: yellowgreen">{{ row.schedule.code }}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Name' | abpLocalization }}" prop="schedule.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.schedule.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::DateFrom' | abpLocalization }}" prop="schedule.dateFrom">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.schedule.dateFrom | date }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::DateTo' | abpLocalization }}" prop="schedule.dateTo">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.schedule.dateTo | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Staff' | abpLocalization }}" prop="staff.code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.staff?.code }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>
<abp-page [title]="title | abpLocalization" *abpPermission="'FaceAPI.Schedules.GetId'">
  
  

  <div class="card">
    <div class="card-body">

      <ngx-datatable [rows]="service.data.items"
                     [count]="service.data.totalCount"
                     [list]="list"
                     default>

       
        <ngx-datatable-column name="{{ '::Code' | abpLocalization }}" prop="schedule.code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a (click)="getData(row.schedule.id)" style="color: yellowgreen">{{ row.schedule.code }}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Name' | abpLocalization }}" prop="schedule.name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.schedule.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::DateFrom' | abpLocalization }}" prop="schedule.dateFrom">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.schedule.dateFrom | date }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ '::DateTo' | abpLocalization }}" prop="schedule.dateTo">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.schedule.dateTo | date }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ '::Staff' | abpLocalization }}" prop="staff.code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.staff?.code }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>
<app-schedule-detail> </app-schedule-detail>
<abp-modal [options]="{ size: 'xl' }" [(visible)]="serviceDetail.isOpenDetail">
  <ng-template #abpHeader>
    <div style="display: flex; width: 100%; justify-content: space-between; align-items: center">
      <div>Code: {{serviceDetail.dataScheduleDto?.schedule.code}}</div>
      <div>Name: {{serviceDetail.dataScheduleDto?.schedule.name}}</div>
      <div>Staff Code: {{serviceDetail.dataScheduleDto?.staff.code}}</div>
    </div>
  </ng-template>
  <ng-template #abpBody>
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <div class="card-body">
        <ngx-datatable #myTable [rows]="serviceDetail.dataScheduleDto?.scheduleDetails">

          <ngx-datatable-row-detail [rowHeight]="250">
            <ng-template let-row="row" ngx-datatable-row-detail-template>
              <div style="padding-left:100px;padding-top: 20px; border: 1px solid white">

                <ngx-datatable [rows]="service.dataDetailDto?.scheduleFormats">
                  <ngx-datatable-column name="{{ '::Name' | abpLocalization }}" prop="name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.name }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="{{ '::Date' | abpLocalization }}" prop="date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.date | date}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="{{ '::From Hours' | abpLocalization }}" prop="fromHours">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.fromHours }}h
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="{{ '::To Hours' | abpLocalization }}" prop="toHours">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row.toHours }}h
                    </ng-template>
                  </ngx-datatable-column>

                  
                </ngx-datatable>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <ngx-datatable-column [width]="50"
                                [resizeable]="false"
                                [sortable]="false"
                                [draggable]="false"
                                [canAutoResize]="false"
                                [frozenLeft]="true">
            <ng-template let-row="row"
                               let-rowIndex="rowIndex"
                         ngx-datatable-cell-template>
              <a href="javascript:void(0)" (click)="toggleExpandRow(row)">
                <i class="fa" [ngClass]="openRows[row.id] ? 'fa-chevron-down' : 'fa-chevron-right'"></i> 
              </a>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="{{ '::Name' | abpLocalization }}" prop="name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ '::DateFrom' | abpLocalization }}" prop="fromDate">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.fromDate | date }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ '::DateTo' | abpLocalization }}" prop="toDate">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.toDate | date }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ '::Note' | abpLocalization }}" prop="note">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.note }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </ng-template>
</abp-modal>
